In [ ]:
import os
import pandas as pd
import numpy as np
print(os.listdir())

In [ ]:
df_exams = pd.read_csv("StudentsPerformance.csv")

In [ ]:
#different methods
print(df_exams["math score"].sum())
print(df_exams["math score"].count())
print(df_exams["math score"].mean())
print(df_exams["math score"].std())
print(df_exams["math score"].max())
print(df_exams["math score"].min())

In [ ]:
#easy calculation
df_exams.describe()

In [ ]:
#calculation the sum
df_exams["math score"] + df_exams["reading score"] + df_exams["writing score"]

In [28]:
#creating ne column
df_exams["averange_score"]= (df_exams["math score"] + df_exams["reading score"] + df_exams["writing score"])/3
df_exams.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,averange_,averange_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33,49.33
4,male,group C,some college,standard,none,76,78,75,76.33,76.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00,94.00
996,male,group C,high school,free/reduced,none,62,55,55,57.33,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,65.00,65.00
998,female,group D,some college,standard,completed,68,78,77,74.33,74.33
999,female,group D,some college,free/reduced,none,77,86,86,83.00,83.00